<!-- CONTACTS VIEW -->
<!-- MAIN - DEFAULT VIEW -->
<div class="view chats-view animate-slide-right"
     layout="column" flex>

     <!-- CHATS TOOLBAR -->
<md-toolbar class="md-tall md-accent">

    <!-- TOOLBAR TOP -->
    <div class="md-toolbar-tools md-toolbar-tools-top">
        <div layout="row" >
            <div layout="column">
                <div>
                {{vm.customer.first_name}} {{vm.customer.last_name}}
                </div>
                <div class="secondary-text">
                    {{' '}} {{vm.customer.id_number}}
                </div>
            </div>
            <md-button layout-align="end center" class="md-raised md-primary" ng-click="vm.sendToCellosign(vm.customer.id)">
                        <span>שלח לסלוסיין</span>
            </md-button>
        </div>
    </div>
    <!-- / TOOLBAR TOP -->

    <!-- TOOLBAR BOTTOM -->
    <div class="md-toolbar-tools md-toolbar-tools-bottom">

        <!-- SEARCH -->
           <div class="search-wrapper md-whiteframe-1dp" layout="row" layout-align="start center" flex>

            <div class="search" flex layout="row" layout-align="start center">

                <md-icon md-font-icon="icon-magnify" class="icon s18">
                </md-icon>

                <input flex ng-model="vm.search" type="text" placeholder="חיפוש">

            </div>
        </div>
        <!-- / SEARCH -->

    </div>
    <!-- / TOOLBAR BOTTOM -->

</md-toolbar>
<!-- / CHATS TOOLBAR -->

<!-- CHATS CONTENT -->
<md-content flex ms-scroll>

    <!-- CHATS LIST-->
    <md-list class="companies-list">

        <md-list-item class="contact md-3-line"
                      ng-repeat-start="company in vm.companies  | filter: {name: vm.search} "
                      ng-click="vm.getCompanyData(company.id); company.open = !company.open" ng-class="{'disabled-company': !company.status}">

            <div class="avatar-wrapper">
                <img ng-src="assets/images/companies/{{company.name}}.png" class="md-avatar avatar" alt="{{contact.name}}"/>
                <i class="icon icon- s16 status" ng-class="contact.status"></i>
            </div>

            <div class="md-list-item-text">
                <h3 class="name" style="text-align: right">{{company.name}}</h3>
                <p class="last-message text-truncate">{{company.email}}</p>
            </div>

            <md-divider></md-divider>

        </md-list-item>

        <md-list-item class="contact md-1-line"
                    ng-if="company.open"
                    ng-repeat-end
                    ng-repeat="data in vm.companiesData[company.id]"
                    ng-click="vm.updateMailContent(data)">

            <div class="md-list-item-text">
                <p class="name" style="text-align: right">מייל מספר {{$index + 1}}</p>
            </div>

            <md-divider></md-divider>

        </md-list-item>

    </md-list>
    <!-- / CHATS LIST-->

   

   
</md-content>
<!-- / CHATS CONTENT -->

</div>
<!-- / MAIN - DEFAULT VIEW -->