{% load staticfiles %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body ng-app="insurance_crm.demo">

    {% verbatim %}
    <div ng-controller="InsuranceCrmController">

        <div ng-repeat="agent in data">
            <h3>{{agent.name}}</h3>
            <ul>
                <li ng-repeat="client in agent.clients"><a href="client/{{client.id}}">{{ client.name }}</a></li>
            </ul>
            <input type="text" ng-model="new_client"/>
            <button ng-click="add(agent, new_client)">+</button>
        </div>

    </div>
    {% endverbatim %}

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script>
    <script src="{% static "insurance_crm/insurance_crm.js" %}"></script>

</body>
</html>