<div class="form">

      <ul class="tab-group">
          <button ng-click="login=false">Sign Up</button>
          <button ng-click="login=true">Log In</button>
      </ul>

      <div class="tab-content">
        <div ng-show="!login" id="signup">
            <div ng-bind="login_error"></div>
          <h1>Sign Up for Free</h1>

          <form ng-submit="signup()">

          <div class="top-row">
            <div class="field-wrap">
              <label>
                First Name<span class="req">*</span>
              </label>
              <input type="text" required autocomplete="off" ng-model="user.first_name"/>
            </div>

            <div class="field-wrap">
              <label>
                Last Name<span class="req">*</span>
              </label>
              <input type="text" required autocomplete="off" ng-model="user.last_name"/>
            </div>
          </div>

          <div class="field-wrap">
            <label>
              Email Address<span class="req">*</span>
            </label>
            <input type="email" required autocomplete="off" ng-model="user.email_address"/>
          </div>


              <div class="field-wrap">
            <label>
              Phone Number<span class="req">*</span>
            </label>
            <input type="text" required autocomplete="off" ng-model="user.phone_number"/>
          </div>

              <div class="field-wrap">
            <label>
              License Number<span class="req">*</span>
            </label>
            <input type="text" required autocomplete="off" ng-model="user.license_number"/>
          </div>



          <div class="field-wrap">
            <label>
              Set Password<span class="req">*</span>
            </label>
            <input type="password" required autocomplete="off" ng-model="user.password"/>
          </div>

          <button type="submit" class="button button-block">Get Started</button>

          </form>

        </div>

        <div ng-show="login" id="login">
            <div ng-bind="login_error"></div>
            <div ng-bind="login_after_signup"></div>
            <h1>Welcome Back!</h1>

            <form ng-submit="login()">
                <div class="field-wrap">
                        <label>
                          Email Address<span class="req">*</span>
                        </label>
                        <input type="email" required autocomplete="off" ng-model="user.username"/>
                </div>

              <div class="field-wrap">
                  <label>
                    Password<span class="req">*</span>
                  </label>
                  <input type="password" required autocomplete="off" ng-model="user.password"/>
              </div>

              <p class="forgot"><a href="#">Forgot Password?</a></p>

              <button type="submit">Log In</button>

            </form>

        </div>

      </div><!-- tab-content -->

</div> <!-- /form -->