{% load staticfiles %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Insurance CRM</title>
</head>
<body ng-app="insurance_crm.demo">
    <ng-view></ng-view>


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-route.js"></script>
    <script src="{% static "js/insurance_crm.js" %}"></script>
    <script src="{% static "js/insurance_crm.config.js" %}"></script>
    <script src="{% static "js/login.controller.js" %}"></script>
    <script src="{% static "js/login.service.js" %}"></script>
    <script src="{% static "js/client.directive.js" %}"></script>

</body>
</html>